*{
  margin: 0;
  padding: 0;
}

body {
   background-color: wheat;
}


nav {
 background-color: rgba(31, 28, 28, 0.5);
}



.nav li {
  float: center;
  
}

.nav li a{
  display: block;
  text-align: center;
  padding-right: 50px;
  text-decoration: none;
  font-size: 35px;
  color: white;
text-shadow: 1px 1px 1px black;
background-color: #404040;
font-style: oblique;
}



.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(31, 28, 28, 0.5);
}

.footer {
  color: slategrey;
  padding: 20px;
  margin-top: 30px;
  color: white;
  display: flex;
  list-style: none;
  justify-content: center;
  
}

.footer a {
  padding: 20px;
  font-size: 8px;
  text-shadow: 0.5px 0.5px 0.5px black;
}


a {
  text-decoration: none;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}

.copyrights {
  margin-top: 8px;
  font-size: 8px;
  text-shadow: 0.5px 0.5px 0.5px black;
}


.card-container {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.card {
  height: 300px;
  width: 275px;
  padding: 20px;
  margin: 20px;
  background-color: #f8c498;
  overflow: hidden;
} 





/* Homepage Design */

#slideshow{

  width: 350px;
  height: 400px;
  overflow: hidden;
 
}




.hero-text{
  padding-top: 200px;
  margin: auto;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
  font-style: oblique;
}
 


.candles {
 width: 100%;
 height: 150px;
 border: 1px dotted white;
 border-radius: 15%;
 
}

/* #header {
  text-align: center;
  font-size: 50px;
  color: white;
} */

h2 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  margin: auto;
  font-style: oblique;
}

.facts {
  color: white;
  padding-top: 30px;
  text-align: center;
text-shadow: 0.5px 0.5px 0.5px black;
overflow: hidden;
font-size: 14px;
font-style: oblique;
}

h6 {
  display: none;
}